@import "@/styles/base.scss";
@import "@/styles/theme.scss";
@import "@/styles/mixins.scss";


input {
  border: none;
  @include border-top;
  @include border-bottom;
  @include border-left;
  @include border-right;

  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: .5rem;
  cursor: pointer;

}

button {
  border: {
    width: 2px;
    color: var(--border-color);
    style: solid;
  }

  background-color: var(--primary-color);
  color: var(--on-primary-color);
  padding: .5rem;
  min-width: 5rem;
  width: 40%;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color-hover);
  }

  &:active {
    background-color: var(--primary-color-active);
  }

  &:disabled {
    background-color: var(--primary-color-disabled);
    // cursor: not-allowed;
  }

}

.widget__modal-container__item.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}