@import "@/styles/theme.scss";
@import "@/styles/mixins.scss";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  // color: var(--foreground-color);
  // background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

* {
  outline: none;
}

input {
  border: none;
  @include border-top;
  @include border-bottom;
  @include border-left;
  @include border-right;

  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: .5rem;
  cursor: pointer;

}

button {
  border: {
    width: 2px;
    color: var(--border-color);
    style: solid;
  }

  background-color: var(--primary-color);
  color: var(--on-primary-color);
  padding: .5rem;
  min-width: 5rem;
  width: 40%;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color-hover);
  }

  &:active {
    background-color: var(--primary-color-active);
  }

  &:disabled {
    background-color: var(--primary-color-disabled);
    // cursor: not-allowed;
  }

}